createNamespace: false
image: {{.Repository}}:{{.Tag}}
imagePullPolicy: {{.PullPolicy}}
{{- if .ImagePullSecrets }}
global:
  imagePullSecrets:
{{- range .ImagePullSecrets }}
    - name: {{ .Name }}
{{- end }}
{{- end }}
