createNamespace: false
{{- if .Repository }}
{{- if .Tag }}
image: {{.Repository}}:{{.Tag}}
{{- end }}
{{- end }}
imagePullPolicy: {{.PullPolicy}}
{{- if .ImagePullSecrets }}
global:
  imagePullSecrets:
{{- range .ImagePullSecrets }}
    - {{ .Name }}
{{- end }}
{{- end }}
