createNamespace: false
{{- if .Image }}
image: {{.Image}}
{{- end }}
imagePullPolicy: {{.PullPolicy}}
{{- if or .PrivateRegistry .ImagePullSecrets }}
global:
{{- if .PrivateRegistry }}
  registry: {{.Registry}}
  repository: {{.Repository}}
{{- end }}
{{- if .ImagePullSecrets }}
  imagePullSecrets:
{{- range .ImagePullSecrets }}
    - {{ .Name }}
{{- end }}
{{- end }}
{{- end }}
